.header {
  background: url('../images_v2/header_background.png') transparent;
  position: relative;
  overflow: hidden;

  -webkit-box-shadow: 0 6px 13px 0 rgba(0, 0, 0, 0.21);
  -moz-box-shadow: 0 6px 13px 0 rgba(0, 0, 0, 0.21);
  box-shadow: 0 6px 13px 0 rgba(0, 0, 0, 0.21);

  /* MARK - CAMERA */

  .camera-flower {
    width: 10%;
    height: 300px;
    max-width: 187px;
    background: url("../images_v2/fl_header_left_cam.png") no-repeat left top transparent;
    background-size: 100% auto;
    position: absolute;
    top: 0;
    left: 0;
  }

  .camera {
    width: 15%;
    height: 250px;
    max-width: 225px;
    background: url("../images_v2/header_cam.png") no-repeat left top transparent;
    background-size: 100% auto;
    position: absolute;
    top: 0;
    left: 0;

    &:after {
      content: "";
      display: block;
      width: 14%;
      height: 50px;
      max-width: 38px;
      background: url("../images_v2/fl_header_left_cam_2.png") no-repeat left top transparent;
      background-size: 100% auto;
      position: absolute;
      top: 0;
      right: -13%;

    }
  }

  /* MARK - COMPUTER */

  .computer-wrapper {
    $computer_img_width: 60%;
    $computer_img_height: 400px;
    width: $computer_img_width;
    height: $computer_img_height;
    max-width: 840px;
    position: absolute;
    top: 0;
    left: 50%;

    .computer-subwrapper {
      width: 100%;
      height: $computer_img_height;
      max-width: 840px;
      position: relative;
      left: -50%;

      .computer {
        width: 100%;
        height: $computer_img_height;
        max-width: 840px;
        background: url('../images_v2/komp.png') no-repeat center top transparent;
        background-size: 100% auto;
        position: absolute;
        top: 0;
        left: 0;

      }

      .usb {
        width: 26%;
        height: 400px;
        max-width: 203px;
        background: url('../images_v2/usb.png') no-repeat top right transparent;
        background-size: 100% auto;
        position: absolute;
        top: -5px;
        left: -5%;

      }

      .paper {
        width: 42%;
        height: 450px;
        max-width: 362px;
        background: url('../images_v2/papers.png') no-repeat left top transparent;
        background-size: 100% auto;
        position: absolute;
        top: 0;
        right: -16%;
      }
    }
  }

  .phone {
    width: 8%;
    height: 400px;
    max-width: 114px;
    background: url('../images_v2/header_phone.png') no-repeat right top transparent;
    background-size: 100% auto;
    position: absolute;
    top: 0;
    right: 1%;
  }

  .flower-right {
    width: 4%;
    height: 500px;
    max-width: 63px;
    background: url('../images_v2/fl_header_right.png') no-repeat right top transparent;
    background-size: 100% auto;
    position: absolute;
    top: 100px;
    right: 0;

  }

  .wizitka {
    width: 17%;
    max-width: 240px;
    height: 300px;
    background: url('../images_v2/wisitka.png') no-repeat right top transparent;
    background-size: 100% auto;
    position: absolute;
    top: 335px;
    right: 0;

    @media (max-width: 970px) {
      & {
        top: 235px;
      }
    }
  }

  .book {
    width: 30%;
    max-width: 420px;
    height: 420px;
    background: url('../images_v2/book.png') no-repeat left top transparent;
    background-size: 100% auto;
    position: absolute;
    top: 350px;
    left: 0;

    @media (max-width: 970px) {
      & {
        top: 250px;
      }
    }
  }

  .header-content {
    width: 60%;
    max-width: 840px;
    margin: 225px auto 0;
    position: relative;
    text-align: center;

    @media (max-width: 970px) {
      margin-top: 150px;
    }

    .web-img {
      width: 28%;
      height: 115px;
      max-width: 204px;
      background: url('../images_v2/web.png') no-repeat left center transparent;
      background-size: 100% auto;
      position: absolute;
      top: -40px;
      left: -5px;

      @media (max-width: 970px) {
        & {
          display: none;
        }
      }
    }

    .menu {
      width: auto;
      padding: 0;
      position: absolute;
      top: 0;
      left: 195px;
      z-index: 10;

      @media (max-width: 1200px) {
        left: 24%;
      }
      @media (max-width: 970px) {
        & {
          position: relative;
          left: 0;
          display: inline-block;
          width: auto;
        }
      }

      li {
        list-style: none;
        float: left;

        .btn {
          color: $header-text-color;
          font-weight: bold;
          font-size: 2vw;
          text-transform: uppercase;

          @media (min-width: 970px) {
            & {
              font-size: 18px;
            }
          }
        }

        .btn-link {
          padding-left: 20px;
          padding-right: 20px;
        }

        .btn-main {
          @include btn_default;
        }
      }
    }

    .designer {
      display: inline-block;
      font-family: "Open Sans", sans-serif;
      font-size: 12vw;
      font-weight: bold;
      position: relative;
      top: 50px;
      @include no_select;

      * {
        transition: none;
      }

      @media (max-width: 970px) {
        & {
          top: 0;
        }
      }
      @media (min-width: 1300px) {
        & {
          font-size: 170px;
        }
      }

      .designer-light {
        display: inline-block;
        color: $primary-color;
        position: absolute;
        top: 0;
        left: 0;
      }
      .designer-dark {
        display: inline-block;
        color: $primary-dark-color;
        position: relative;
        top: 3px;
        left: 3px;
        text-shadow: 2px 2px 9px rgba(0, 0, 0, 0.21);
      }

      .designer-flowers {
        width: 10%;
        height: 157px;
        max-width: 150px;
        background: url('../images_v2/fl_in_designer.png') no-repeat right top transparent;
        background-size: 100% auto;
        position: absolute;
        top: 40px;
        right: -2%;
      }
    }

    .my-name-wrapper {
      display: inline-block;
      color: $text-color;
      margin-top: 30px;

      @media (max-width: 970px) {
        margin-top: 0;
      }

      .my-name {
        font-family: "DancingScript", sans-serif;
        font-size: 8vw;

        @media (min-width: 1300px) {
          & {
            font-size: 100px;
          }
        }
      }

      .prelest {
        width: 100%;
        font-size: 2.35vw;
        text-align: right;
        position: relative;
        top: 10px;

        @media (min-width: 1300px) {
          & {
            font-size: 24px;
          }
        }
      }
    }

    .its-my-portfolio {
      @include text_with_lines;
      display: inline-block;
      font-size: 2.35vw;
      margin-top: 30px;
      letter-spacing: 15px;
      padding-left: 15px;

      @media (min-width: 1300px) {
        & {
          font-size: 24px;
        }
      }
    }

    .portfolio-dates {
      display: inline-block;
      font-size: 2vw;
      margin-top: 10px;

      @media (min-width: 1300px) {
        & {
          font-size: 18px;
        }
      }
    }

    .separate {
      margin: 40px 10%;
      background-color: #d7d7d7;
    }

    .language-switcher {
      position: absolute;
      top: -50px;
      left: 0;
      z-index: 10;
      width: 100%;
      text-align: center;

      .language-switcher-sub {
        display: inline-block;
      }

      .btn {
        color: black;
        font-weight: bold;
        text-transform: uppercase;
        padding: 1px 9px;

        &.active {
          @include btn_default;
        }
      }

      @media (min-width: 970px) {
        width: auto;
        right: -30px;
        top: 5px;
        font-size: 16px;
        text-align: right;
      }
    }
  }

  .mouse {
    width: 7%;
    height: 134px;
    max-width: 96px;
    background: url('../images_v2/mouse.png') no-repeat left top transparent;
    background-size: 100% auto;
    position: absolute;
    top: 75%;
    left: 75%;

    @media (max-width: 970px) {
      top: 60%;
    }
  }

  .pin {
    width: 5.5%;
    height: 68px;
    max-width: 80px;
    background: url('../images_v2/pin.png') no-repeat left top transparent;
    background-size: 100% auto;
    position: absolute;
    top: 55%;
    left: 25%;

    @media (max-width: 970px) {
      top: 45%;
    }
  }

  .social {
    display: inline-block;
    /*font-size: 2vw;
    @media (min-width: 1300px) {
      & {
        font-size: 18px;
      }
    }*/
    font-size: 16px;
    margin-bottom: 80px;

    i {
      font-size: 150%;
      opacity: 0.65;
      position: absolute;
      top: 20%;
      left: 0;
    }

    a {
      display: block;
      float: left;
      padding: 10px 0;
      margin-right: 25px;
      color: $text-color;
      position: relative;

      &:hover {
        text-decoration: none;

        span {
          text-decoration: underline;
        }

        i {
          opacity: 1;
        }
      }

      @media (max-width: 875px) {
        padding: 30px 20px;
        margin-right: 0;

        i {
          position: static;
          font-size: 200%;
        }

        span {
          display: none;
        }
      }
    }

    span {
      padding-left: 30px;
    }
    .fa-skype {
      color: #0cb3f0;
    }
    .fa-whatsapp {
      color: #51c65d;
    }
    .fa-envelope {
      color: #e64134;
    }
  }

  .go-to-about-me {
    display: block;
    width: 28px;
    height: 28px;
    background: url('../images_v2/to_down.png') no-repeat center transparent;
    position: absolute;
    bottom: 30px;
    left: 50%;
    margin-left: -14px;
    opacity: 0.6;

    &:hover {
      opacity: 1;
    }
  }

  .paper-xs {
    display: none;
  }

  @media (max-width: 767px) {
    .computer-wrapper, .camera, .phone, .book, .mouse, .pin, .go-to-about-me {
      display: none;
    }
    .header-content {
      width: auto;
      margin-top: 70px;

      .menu li .btn-link {
        padding-left: 10px;
        padding-right: 10px;
        font-size: 4vw;
      }
      .designer {
        font-size: 17vw;

        .designer-flowers {
          min-width: 40px;
          top: 15px;
        }
      }
      .my-name-wrapper {
        .prelest {
          font-size: 4.35vw;
        }
        .my-name {
          font-size: 13vw;
        }
      }
      .its-my-portfolio {
        font-size: 7.35vw;
        letter-spacing: normal;
        padding-left: 0;
        &:before {
          left: -30px;
        }
        &:after {
          right: -30px;
        }
      }
      .portfolio-dates {
        font-size: 4vw;
      }

      .separate {
        margin: 26px 20% 10px;
      }
    }

    .camera-flower {
      min-width: 100px;
    }
    .paper-xs {
      display: block;
      width: 150px;
      height: 256px;
      background: url('../images_v2/papers.png') no-repeat right top transparent;
      background-size: 100% auto;
      position: absolute;
      top: 170px;
      left: 20px;
      transform: rotate(-90deg);
    }
    .wizitka {
      top: 235px;
      width: 150px;
      left: calc(100% - 65px);
    }

    .social {
      margin-bottom: 30px;

      a {
        padding-top: 10px;
        padding-bottom: 10px;
      }
    }
  }
}
