* {
  transition: all 0.5s ease;
}

.header {
  height: 900px;
  background: url('../images_v2/header_background.png') transparent;
  position: relative;
  overflow: hidden;

  @media (max-width: 970px) {
    & {
      height: 600px;
    }
  }

  /* MARK - CAMERA */

  .camera-flower {
    width: 10%;
    height: 300px;
    max-width: 187px;
    background: url("../images_v2/fl_header_left_cam.png") no-repeat left top transparent;
    background-size: 100% auto;
    position: absolute;
    top: 0;
    left: 0;

  }

  .camera {
    width: 15%;
    height: 250px;
    max-width: 225px;
    background: url("../images_v2/header_cam.png") no-repeat left top transparent;
    background-size: 100% auto;
    position: absolute;
    top: 0;
    left: 0;

    &:after {
      content: "";
      display: block;
      width: 14%;
      height: 50px;
      max-width: 38px;
      background: url("../images_v2/fl_header_left_cam_2.png") no-repeat left top transparent;
      background-size: 100% auto;
      position: absolute;
      top: 0;
      right: -13%;

    }
  }

  /* MARK - COMPUTER */

  .computer-wrapper {
    $computer_img_width: 60%;
    $computer_img_height: 400px;
    width: $computer_img_width;
    height: $computer_img_height;
    max-width: 840px;
    position: absolute;
    top: 0;
    left: 50%;

    .computer-subwrapper {
      width: 100%;
      height: $computer_img_height;
      max-width: 840px;
      position: relative;
      left: -50%;

      .computer {
        width: 100%;
        height: $computer_img_height;
        max-width: 840px;
        background: url('../images_v2/komp.png') no-repeat center top transparent;
        background-size: 100% auto;
        position: absolute;
        top: 0;
        left: 0;

      }

      .usb {
        width: 26%;
        height: 400px;
        max-width: 203px;
        background: url('../images_v2/usb.png') no-repeat top right transparent;
        background-size: 100% auto;
        position: absolute;
        top: -5px;
        left: -5%;

      }

      .paper {
        width: 42%;
        height: 450px;
        max-width: 362px;
        background: url('../images_v2/papers.png') no-repeat left top transparent;
        background-size: 100% auto;
        position: absolute;
        top: 0;
        right: -16%;

      }
    }
  }

  .phone {
    width: 8%;
    height: 400px;
    max-width: 114px;
    background: url('../images_v2/header_phone.png') no-repeat right top transparent;
    background-size: 100% auto;
    position: absolute;
    top: 0;
    right: 1%;

  }

  .flower-right {
    width: 4%;
    height: 500px;
    max-width: 63px;
    background: url('../images_v2/fl_header_right.png') no-repeat right top transparent;
    background-size: 100% auto;
    position: absolute;
    top: 100px;
    right: 0;

  }

  .wizitka {
    width: 17%;
    max-width: 240px;
    height: 300px;
    background: url('../images_v2/wisitka.png') no-repeat right top transparent;
    background-size: 100% auto;
    position: absolute;
    top: 335px;
    right: 0;

    @media (max-width: 970px) {
      & {
        top: 235px;
      }
    }
  }

  .book {
    width: 30%;
    max-width: 420px;
    height: 420px;
    background: url('../images_v2/book.png') no-repeat left top transparent;
    background-size: 100% auto;
    position: absolute;
    top: 350px;
    left: 0;

    @media (max-width: 970px) {
      & {
        top: 250px;
      }
    }
  }

  .header-content {
    width: 60%;
    max-width: 840px;
    margin: 225px auto 0;
    position: relative;
    text-align: center;

    @media (max-width: 970px) {
      margin-top: 150px;
    }

    .web-img {
      width: 28%;
      height: 115px;
      max-width: 204px;
      background: url('../images_v2/web.png') no-repeat left center transparent;
      background-size: 100% auto;
      position: absolute;
      top: -40px;
      left: -5px;

      @media (max-width: 970px) {
        & {
          display: none;
        }
      }
    }

    .menu {
      width: 100%;
      padding: 0;
      position: absolute;
      top: 0;
      left: 195px;

      @media (max-width: 1200px) {
        left: 24%;
      }
      @media (max-width: 970px) {
        & {
          position: relative;
          left: 0;
          display: inline-block;
          width: auto;
        }
      }

      li {
        list-style: none;
        float: left;

        .btn {
          color: $header-text-color;
          font-weight: bold;
          font-size: 2vw;
          text-transform: uppercase;

          @media (min-width: 970px) {
            & {
              font-size: 18px;
            }
          }
        }

        .btn-link {
          padding-left: 20px;
          padding-right: 20px;
        }

        .btn-main {
          @include btn_default;
        }
      }
    }

    .designer {
      display: inline-block;
      font-family: "Open Sans", sans-serif;
      font-size: 12vw;
      font-weight: bold;
      position: relative;
      top: 50px;
      @include no_select;

      * {
        transition: none;
      }

      @media (max-width: 970px) {
        & {
          top: 0;
        }
      }
      @media (min-width: 1300px) {
        & {
          font-size: 170px;
        }
      }

      .designer-light {
        display: inline-block;
        color: $primary-color;
        position: absolute;
        top: 0;
        left: 0;
      }
      .designer-dark {
        display: inline-block;
        color: $primary-dark-color;
        position: relative;
        top: 3px;
        left: 3px;
        text-shadow: 2px 2px 9px rgba(0, 0, 0, 0.21);
      }

      .designer-flowers {
        width: 10%;
        height: 157px;
        max-width: 150px;
        background: url('../images_v2/fl_in_designer.png') no-repeat right top transparent;
        background-size: 100% auto;
        position: absolute;
        top: 40px;
        right: -2%;
      }
    }

    .my-name-wrapper {
      display: inline-block;
      color: $text-color;
      margin-top: 30px;

      @media (max-width: 970px) {
        margin-top: 0;
      }

      .my-name {
        font-family: "DancingScript", sans-serif;
        font-size: 8vw;

        @media (min-width: 1300px) {
          & {
            font-size: 80px;
          }
        }
      }

      .prelest {
        width: 100%;
        font-size: 2.35vw;
        text-align: right;
        position: relative;
        top: 10px;

        @media (min-width: 1300px) {
          & {
            font-size: 24px;
          }
        }
      }
    }
  }
}
