// Fonts
@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,700');
@font-face {
  font-family: 'Gothic';
  src: url('../fonts/gothic.ttf');
  font-weight: normal;
}

@font-face {
  font-family: 'Gothic';
  src: url('../fonts/gothicb.ttf');
  font-weight: bold;
}

@font-face {
  font-family: 'DancingScript';
  src: url('../fonts/dancing-script.regular.ttf');
  font-weight: normal;
}

// Components
@import "components/buttons";
@import "components/mixin";

// Variables
@import "variables";

// Bootstrap - /assets/stylesheets/bootstrap
@import "~bootstrap-sass/assets/stylesheets/bootstrap";
@import "~toastr/toastr";
@import "~aos/dist/aos.css";
@import "~@fancyapps/fancybox/dist/jquery.fancybox";

body {
  font-family: "Gothic", sans-serif;
  background: #fff;
}

@import "header";
