// Fonts
@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,700');
@font-face {
  font-family: 'Gothic';
  src: url('../fonts/gothic.ttf');
  font-weight: normal;
}

@font-face {
  font-family: 'Gothic';
  src: url('../fonts/gothicb.ttf');
  font-weight: bold;
}

@font-face {
  font-family: 'DancingScript';
  src: url('../fonts/dancing-script.regular.ttf');
  font-weight: normal;
}

// Components
@import "components/buttons";
@import "components/mixin";

// Variables
@import "variables";

// Bootstrap - /assets/stylesheets/bootstrap
@import "~bootstrap-sass/assets/stylesheets/bootstrap";
@import "~toastr/toastr";
@import "~aos/dist/aos.css";
@import "~@fancyapps/fancybox/dist/jquery.fancybox";

body {
  font-family: "Gothic", sans-serif;
  background: #fff;
  min-width: 320px;
}

*, *:after, *:before {
  transition: all 0.5s ease;
}

.title-with-lines {
  font-size: 24px;
  text-align: center;
  padding: 25px 0;

  @media (min-width: 768px) {
    & {
      font-size: 32px;
    }
  }

  @media (min-width: 992px) {
    & {
      font-size: 40px;
      padding: 35px 0;
    }
  }

  @media (min-width: 1200px) {
    & {
      font-size: 48px;
      padding: 55px 0;
    }
  }

  span {
    @include text_with_lines;
    color: $title-text-color;

    &:before, &:after {
      border: 1px solid $title-text-color;
      width: 20%;
    }

    &:before {
      left: auto;
      right: 120%;
    }
    &:after {
      right: auto;
      left: 120%;
    }
  }
}

@import "header";
@import "about_me";
@import "skills";
@import "projects";
@import "contacts";
